/*-- scss:defaults --*/

// fonts
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');

// Fonts (CSS rules)
//$font-family-sans-serif: 'Nunito Sans', sans-serif;
//$font-family-monospace: 'Roboto Mono', monospace;
$font-family-serif: 'Sanchez', serif; 
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

// scss variables
$presentation-title-slide-text-align: "left";
$body-bg: #FFFFFF;
$link-color: #047C90;
$code-color: #900C3F;
$code-bg: #F7F7F7;
$code-block-font-size: 0.6em;
$code-block-bg: #F0F3F5;
$font-size-base: 0.3em; 


/*-- scss:rules --*/

.reveal .custom-title {
  font-family: $font-family-serif;
  color: #d2e3f3;
  font-size: 1.7em;
  //position: absolute; 
  left: 20px; 
}

.reveal .custom-subtitle {
  font-family: $font-family-sans-serif;
  color: #d2e3f3;
  font-size: 1.2em;
  font-weight: 900;
  //position: absolute; 
  left: 20px; 
}

.reveal .custom-subtitle2 {
  font-family: $font-family-sans-serif;
  color: #d2e3f3;
  font-size: 1em;
  //position: absolute; 
  left: 20px; 
}

.reveal .custom-subtitle3 {
  font-family: $font-family-sans-serif;
  color: #d2e3f3;
  font-size: 0.8em;
  //position: absolute; 
  left: 20px; 
}

.reveal .title-footer {
  text-align: center !important;
  color: #d2e3f3;
  font-size: 0.4em !important;
  //margin-left: 0em;
}

.slide-title {
  font-family: $font-family-serif;
  color: #047C90;
  font-size: 1.4em;
  font-weight: 700;
}

strong {
  font-weight: 900;
  color: #047C90;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

